* {
    // Default value
    // box-sizing: content-box;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $font-size-large;
    line-height: 1.6;
  
    @media (min-width: $tablet-breakpoint) {
      font-size: $font-size-medium;
    }
  }
  
  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }
  
  button:focus {
    border: none !important;
    outline: none !important;
  }
  
  input[type="button"] {
    outline: none !important;
  }
  input[type="button"]::-moz-focus-inner {
    border: 0 !important;
  }
  
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar:vertical {
    width: 12px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .is-active {
    font-weight: bold;
  }
  
  .success {
    color: $success;
  }
  .error {
    color: $error;
  }

  .full-width {
    width: 100%;
  }
  
  .page {
    height: 100vh;
    width: 100vw;
  }
  
  .google-signin-button {
    background-image: url("/images/google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png");
    background-size: cover;
    cursor: pointer;
    width: 191px;
    height: 46px;
    margin: auto;
  
    &:hover {
      background-image: url("/images/google_signin_buttons/web/1x/btn_google_signin_light_focus_web.png");
    }
  
    &:active {
      background-image: url("/images/google_signin_buttons/web/1x/btn_google_signin_light_pressed_web.png");
    }
  }
  